* {
  font-size: 1em;
  text-decoration: none;
}

.container-1 {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

section > h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 2em;
}

.section > h3 {
  font-size: 3.5em;
  margin-bottom: 0;
}

.section > h3,
p {
  margin-left: 15px;
  position: relative;
  top: 120px;
}

.section {
  color: white;
  width: 250px;
  height: 330px;
  background-image: url("../images/sp_score_thumb01.jpg");
  background-position: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.kingsrock1 {
  background-image: url("../images/sp_score_thumb02.jpg");
}

.kingsrock2 {
  background-image: url("../images/sp_score_thumb03.jpg");
}

.kingsrock3 {
  background-image: url("../images/sp_score_thumb04.jpg");
}

ul {
  list-style-type: none;
}
